#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board {
  border: rgb(102, 98, 98) 15px solid;
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  width: 70vw;
}

